/*Linha do Tempo */
.timeline-seçao{
    background-color: rgb(27, 19, 9);
    color:rgb(183, 137, 43) ;
    padding:3% 3% ;
    text-align:center ;
}

.timeline-seçao h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(244, 236, 223);
    font-weight: 500;
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 0%;
    margin-bottom: 5%;
    position: relative;
    
}

.timeline-seçao h2::after{  /* adicionar a linha embaixo do titulo*/
    content:'';
    display: block;
    width: 60px;
    height: 2px;
    background-color: rgb(183, 137, 43);
    margin: 12px auto 0;
}

.timeline-linha{
    display:flex ;
    justify-content:space-between ;
    position:relative ;
    border-top: 2px solid rgb(123, 93, 59); /* linha da timeline*/
    padding-top: 0.50rem;
    margin-top: 4rem;
}

.timeline-ponto{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 18%;
}

.timeline-ponto::before {     /* adicionar as bolinhas*/
    content: '';
    position: absolute;
    top: -2.35rem; 
    width: 10px;
    height: 10px;
    background-color: rgb(183, 137, 43);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-ponto .ano{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.timeline-ponto .descricao{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
    letter-spacing: 1px;
    color: rgb(177, 174, 145);
    border-bottom: 2px;
    margin-top: 5px;
}

.timeline-ponto{
    img{
        width: 130px;
        height: 150px;
        border: 1px solid rgb(75, 56, 34); /* 1 borda da imagem*/
        border-radius: 48%;
        outline: 1px solid rgb(183, 137, 43); /* 2 borda da imagem*/
        outline-offset: 2px;   /* espaço vazio entre as bordas*/
        filter: brightness(85%);
        margin-top: 15px;
    }
}

.timeline-ponto:hover{
    img{
        transform: translateY(-5px);
        box-shadow: 0 5px 20px rgba(124, 124, 106, 0.932);
    }
}

/*Header + Hero section*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Serif', Georgia, serif;
    background-color: #f9f4eb;
}

.barra-topo {
    background-color: rgb(27, 19, 9);
    color: #e0c39a;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu-topo a {
    color: #e0c39a;
    text-decoration: none;
    margin-left: 25px;
    font-size: 13px;
    transition: 0.3s;
}

.menu-topo a:hover {
    opacity: 0.7;
}

.hero-section {
    display: flex;
    align-items: stretch; 
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 50px;
    gap: 80px; 
}

.conteudo-principal {
    flex:1.4; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.subtitulo {
    color: #8b5e34;
    font-size: 14px;
    letter-spacing: 3px;
    display: inline-block;
    padding: 5px 0;
    border-top: 1px solid #1b1a18;
    border-bottom: 1px solid #1b1a18;
    margin-bottom: 20px;
    width: fit-content;
}

.titulo-principal {
    font-size: 72px;
    color: #2b2b2b;
    line-height: 1.1;
    margin-bottom: 25px;
}

.titulo-principal em {
    font-style: italic;
    color: #8b5e34;
    font-family: 'Playfair Display', serif;
}

.descrição {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 500px;
}

.grupo-botoes {
    display: flex;
    gap: 15px;
}

.botao-primario, .botao-secundario {
    padding: 16px 32px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: 0.3s;
}

.botao-primario {
    background-color: #1a0f08;
    color: white;
}

.botao-secundario {
    border: 1px solid #1a0f08;
    color: #1a0f08;
}

.botao-primario:hover { background-color: #3d2a1d; }
.botao-secundario:hover { background-color: #1a0f08; color: #f9f4eb; }

.moldura-quadro {
    flex: 1.4; 
    background-color: #f7f1e6; 
    padding: 12px; /* Moldura bege robusta */
    border: 1px solid #5d4a36;
    position: relative;
    display: flex; 
    margin-top: 45px;
}

.moldura-quadro::before {
    content: '';
    position: absolute;
    top: -10px; 
    left: -10px; 
    right: -10px; 
    bottom: -10px;
    border: 1px solid #c5b398;
    pointer-events: none;
}

.moldura-interna {
    flex: 1.2; 
    border: 1px solid #c5b398;
    overflow: hidden;
    display: flex;
    background: #eee;
}

.moldura-interna img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    filter: brightness(95%);
}
