/*Linha do Tempo */
.timeline-seçao{
    background-color: rgb(27, 19, 9);
    color:rgb(183, 137, 43) ;
    padding:3% 3% ;
    text-align:center ;
}

.timeline-seçao h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(244, 236, 223);
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 0%;
    margin-bottom: 5%;
    position: relative;
    
}

.timeline-seçao h2::after{  /* adicionar a linha embaixo do titulo*/
    content:'';
    display: block;
    width: 60px;
    height: 2px;
    background-color: rgb(183, 137, 43);
    margin: 12px auto 0;
}

.timeline-linha{
    display:flex ;
    justify-content:space-between ;
    position:relative ;
    border-top: 2px solid rgb(123, 93, 59); /* linha da timeline*/
    padding-top: 0.50rem;
    margin-top: 4rem;
}

.timeline-ponto{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 18%;
}

.timeline-ponto::before {     /* adicionar as bolinhas*/
    content: '';
    position: absolute;
    top: -2.35rem; 
    width: 10px;
    height: 10px;
    background-color: rgb(183, 137, 43);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-ponto .ano{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.timeline-ponto .descricao{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
    letter-spacing: 1px;
    color: rgb(177, 174, 145);
    border-bottom: 2px;
    margin-top: 5px;
}

.timeline-ponto{
img{
    width: 130px;
    height: 150px;
    border: 1px solid rgb(75, 56, 34); /* 1 borda da imagem*/
    border-radius: 48%;
    outline: 1px solid rgb(183, 137, 43); /* 2 borda da imagem*/
    outline-offset: 2px;   /* espaço vazio entre as bordas*/
    filter: brightness(85%);
    margin-top: 15px;
}
}

.section {
margin: 0;
font-family: 'Serif', Georgia, serif; 
background-color: #c5b398;
} 

.barra-topo {
 background-color: rgb(27, 19, 9);
color: #e0c39a;
padding: 15px 50px;
font-weight: bold;
letter-spacing: 2px;
margin: top 0;
}

.conteudo-principal{
max-width: 900px;
margin: 60px auto; 
padding: 0 10px;
font-weight: bolder

}

.subtitulo {
color: #2f1717;
font-size: 14px;
letter-spacing: 3px;
display: inline-block;
padding-top: 5px;
padding-bottom: 10px;
border-top: 1px solid #1b1a18;
border-bottom: 1px solid #1b1a18;
}

.titulo-principal {
font-size: 64px;
color: #2b2b2b;
margin: 20px 0;
}

.titulo-principal em {
font-style: italic;
color: #8b5e34;
font-family: 'Playfair Display';
}

.descrição {
font-size: 18px;
color: #4a4a4a;
line-height: 1.6;
margin-bottom: 40px;
}


.grupo-botoes {
display: flex;
gap: 20px;
}

.botao-primario {
background-color: #1a0f08;
color: white;
padding: 15px 30px;
text-decoration: none;
font-size: 14px;
font-weight: bold;
}

.botao-secundario {
border: 2px solid #1a0f08;
color: #1a0f08;
padding: 15px 30px;
text-decoration: none;
font-size: 14px;
font-weight: bold;
}
.botao-primario:hover {
background-color: #3d2a1d; 
cursor: pointer;
transition: 0.3s; 
}

.botao-secundario:hover {
background-color: #1a0f08;
color: #f9f4eb;            
cursor: pointer; 
transition: 0.3s;
}

.moldura-quadro {
background-color: #f7f1e6; 
padding: 15px; 
border: 2px solid #5d4a36; 
position: relative;
max-width: 600px; 
margin: 50px auto;
}

.moldura-interna {
border: 1px solid #c5b398;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px; 
padding-top: 20px;
}

.moldura-interna img {
max-width: 100%;
height: auto;
display: block;
}

body {
margin: 0;
padding: 0;
box-sizing: border-box;
}
